.ourTeam_title_position {
  margin-top: 30px;
}

.ourTeam__div_background {
  width: 270px;
  height: 428px;
  background-color: var(--main-background-color);
  margin-bottom: 94px;
  margin-right: 15px;
  margin-left: 15px;
}
