.svg_list_item > .svg_link_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-left: 10px;
  fill: #afb1b8;
}

.svg_link_item {
  &:hover,
  &:focus {
    background-color: var(--main--color);
    fill: var(--third-color);
  }
}

.svg_list_item > .svg_link_item_f {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-left: 10px;
  fill: var(--third-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.svg_link_item_f {
  &:focus,
  &:hover {
    background-color: var(--main--color);
    fill: var(--third-color);
  }
}
.icon_list {
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}

.svg_list_item_c > .svg_link_item_c {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  fill: #afb1b8;
}

.svg_link_item_c {
  &:hover,
  &:focus {
    background-color: var(--main--color);
    fill: var(--third-color);
  }
}

.icon_list {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--third-color);
}
.svg_list_item_ourClients > .svg_link_item_ourClients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  margin-left: 10px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--third-color);
}

.svg_link_item_ourClients {
  &:hover,
  &:focus {
    border-color: var(--secoundary-backgroundcolor);
    fill: var(--main--color);
  }
}

.icon_color {
  fill: #afb1b8;
  &:hover,
  &:focus {
    border-color: var(--secoundary-backgroundcolor);
    fill: var(--main--color);
  }
}

.svg_padding {
  margin-left: 15px;
  margin-right: 15px;
}
