.nav {
  display: flex;

  &__list {
    display: flex;
    align-items: center;
  }

  &__l_i {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.333;
    letter-spacing: 0.02em;
    color: #212121;
    margin-right: 23px;

    &:hover,
    &:focus {
      color: var(--main--color);
    }
  }
}
